

<ion-content [fullscreen]="true">

  <div class="logo ion-text-center ion-padding-vertical">
    <img src="../../../assets/img/logo.png" width="50%" alt="">
  </div>

 

 <div>
  <img src="../../../assets/img/charizard.webp" width="100%" alt="">
 </div>

 <ion-accordion-group>
  <ion-accordion value="first">
    <ion-item slot="header" color="light">
      <ion-label>Buscar por categoría </ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <div class="ion-text-center ion-padding-vertical bg-header">
        <div class="type-chips ion-justify-content-center">
          <div  *ngFor="let type of pokemonTypes">
            <ion-chip class=" ion-justify-content-center"  [ngClass]="type"  (click)="filterByType(type)">
              <ion-label >{{ type }}</ion-label>
            </ion-chip>
          </div>
        
        </div>
      </div>
    </div>
  </ion-accordion>
</ion-accordion-group>
      
  <ion-grid no-padding>
    <ion-row>
      <ion-col  size="6" *ngFor="let pokemon of pokemonList">

        <ion-card [routerLink]="'/pokemon-detail/' + pokemon.id">
          <ion-card-header>
            <img [src]="pokemon.sprites.other['official-artwork'].front_default" />
          </ion-card-header>

          <ion-card-content class="ion-text-center ion-margin-top"> 
            <ion-label color="dark" class="title ion-margin-top"> <b>
              {{ pokemon.name }}
            </b></ion-label>
          </ion-card-content>
        </ion-card>
       
      </ion-col>
    </ion-row>
  </ion-grid>
  
  



 <ion-infinite-scroll (ionInfinite)="loadMorePokemons($event)" threshold="100px">
  <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Cargando más Pokemon...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>
