<ion-content>
  <!-- header -->
  <div class="logo ion-text-center ion-padding-vertical">
    <img src="../../../assets/img/logo.png" width="30%" alt="" />
  </div>

  <div class="header-container">
    <div class="header-title">
      <ion-label>
        Conviértete <br />
        en un <br />
        maestro<br />
        <ion-text color="warning">
          <h1><b>Pokemon</b></h1>
        </ion-text>
      </ion-label>
    </div>

    <img src="../../../assets/img/header-img.png" alt="" width="100%"/>
  </div>

  <!-- Busqueda por categoria -->
  <ion-accordion-group class="ion-no-padding ion-no-margin">
    <ion-accordion value="first">
      <ion-item slot="header" color="dark">
        <ion-label>Buscar por categoría </ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <div class="ion-text-center ion-padding-vertical bg-header">
          <div class="type-chips ion-justify-content-center">
            <div *ngFor="let type of pokemonTypes">
              <ion-chip
                class="ion-justify-content-center"
                [ngClass]="type"
                (click)="filterByType(type)"
              >
                <ion-label>{{ type }}</ion-label>
              </ion-chip>
            </div>
          </div>
        </div>
      </div>
    </ion-accordion>
  </ion-accordion-group>

  <!-- grid con las card pokemon -->
  <ion-grid>
    <ion-row>
      <ion-col
        class="ion-padding-horizontal ion-padding-top"
        size="6"
        *ngFor="let pokemon of pokemonList"
      >
        <ion-card
          [routerLink]="'/pokemon-detail/' + pokemon.id"
          [ngClass]="getCardClass(pokemon)"
        >
          <ion-card-header>
            <img
              [src]="pokemon.sprites.other['official-artwork'].front_default"
            />
          </ion-card-header>

          <ion-card-content class="ion-text-center">
            <div class="info-pokemon">
              <div
                class="types-container"
                [class.centered]="pokemon.types.length === 1"
              >
                <ng-container *ngFor="let type of pokemon.types">
                  <ion-chip
                    class="ion-justify-content-center card-chip"
                    [ngClass]="type.type.name"
                  >
                    <ion-label>{{ type.type.name }}</ion-label>
                  </ion-chip>
                </ng-container>
              </div>

              <div class="name">
                <ion-label color="light" class="title">
                  <b> {{ pokemon.name }} </b></ion-label
                >
              </div>

              <ion-button
                [routerLink]="'/pokemon-detail/' + pokemon.id"
                expand="block"
              >
                Más detalles
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll
    (ionInfinite)="loadMorePokemons($event)"
    threshold="100px"
  >
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Cargando más Pokemon..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-footer>
  <img src="../../../assets//img/pasto.png" alt="Maleza" class="maleza-image" />
</ion-footer>
