

.grass-background {
    background: linear-gradient(#000000, #15990997); /* Negro y Azul */
  }
  
  .water-background {
    background: linear-gradient(#000000, #09159997); /* Negro y Azul */
  }
  

  .normal-background {
    background: linear-gradient(#000000, #acaca997); /* Negro y Azul */
  }

  .fire-background {
    background: linear-gradient(#000000, #a6300997); /* Negro y Rojo */
  }
  

  .electric-background {
    background: linear-gradient(#000000, #939a0997); /* Negro y Azul */
  }

  .ground-background {
    background: linear-gradient(#000000, #985b1d60); /* Negro y Azul */
  }

  .fairy-background {
    background: linear-gradient(#000000, #9a099360); /* Negro y Azul */
  }

  .psychic-background {
    background: linear-gradient(#000000, #67099a60); /* Negro y Azul */
  }

  .fighting-background {
    background: linear-gradient(#000000, #9a540960); /* Negro y Azul */
  }

  .rock-background {
    background: linear-gradient(#000000, #9a820960); /* Negro y Azul */
  }

  .poison-background {
    background: linear-gradient(#000000, #a040a960); /* Negro y Azul */
  }


ion-content{
    --background: black;
}

ion-grid{
    margin: 0;
    padding: 0;
}


ion-row{
    background: black;
}

ion-card{
    background: linear-gradient(#00000053, #07780b60);; 
   border-radius: 10%;
   
   .title{
    font-size: 1.2rem;
    }

    .info-pokemon{

        ion-button{
            font-size: .5rem;
            --background: rgba(0, 0, 0, 0.29);
        }
        
        .types-container.centered {
            display: flex;
            justify-content: center;
          }
          
        .types-container{
            display: flex;
            flex-direction: row;
        }
    
        .stats-container{
            --background: transparent;
            --inner-padding-start: 0px;
            --inner-padding-end: 0px;
    
            .stat{
                font-size: 1.2rem;
            }
        }
    }

  
}



  

.header-container{
    position: relative;

    .header-title{
        position: absolute;
        top: 10%;
        left: 5%;
    
        ion-label{
            font-size: 1.7rem;
            font-weight: 500;
        }
    
        h1{
            font-size: 2rem;
        }
    }
}


ion-footer {
    position: relative;
  }
  
  .maleza-image {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1; /* Asegura que la imagen esté detrás de cualquier otro contenido del footer */
  }
  